
h1, h2, p {
    color: #dddddd;
    font-family: 'Times New Roman', Times, serif;
}
body {
    /*background-image: url(images/greenblue.jpg);
    background-position: cover;*/
    
    z-index: 0;
}

.background img {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
}

.header {
    align-items: center;
    height: 70vh;
    width: 100%;
    padding-top: 30vh;

}
.innerheader {
    margin-top: 40vh;
}
.header p {
    font-size: 45px;
    text-align: center;
}
.header h1 {
    font-size: 75px;
    text-align: center;
}

.about {
    /*border: solid 1px white;
    background-color: #2c5664;*/
    align-items: center;
    width: 40%;
    margin: 0 auto;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about h2 {
    font-size: 40px;
}
.about p {
    font-size: 23px;
}

#bobby {
    display: block;
    width: 100px;
    max-height: fit-content;
    margin-right: auto;
    margin-left: auto;
}
